    <!doctype html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <title> Portfolio-{% block title %}{% endblock %}</title>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% set route = app.request.attributes.get('_route') %}
                    <li class="nav-item">
                        <a class="nav-link {{ route == 'app_main' ? 'bg-dark text-white' }}" aria-current="page" href="{{ path('app_main')}}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ route == 'app_creation' ? 'bg-dark text-white' }}" aria-current="page" href="{{ path('app_creation')}}">Creation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ route == 'app_recruit' ? 'bg-dark text-white' }}" aria-current="page" href="{{ path('app_recruit')}}">Recruter-moi</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block body %}

    {% endblock %}
    </body>
    </html>
